.projectCard {
  width: 100%;
  max-width: 350px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease; // Animasi saat hover
  cursor: pointer;
  position: relative;
  margin-bottom: 30px;

  &:hover {
    transform: translateY(-5px); // Efek angkat saat hover
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1); // Efek bayangan lebih besar saat hover
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #f0f0f0;
    transition: opacity 0.3s ease; // Efek transisi pada gambar
  }

  .info {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 10;
    color: #fff; // Warna teks putih agar kontras dengan latar belakang gambar

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #fff;
    }

    .texts {
      display: flex;
      flex-direction: column;
      gap: 5px;

      h2 {
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); // Memberikan efek bayangan pada teks
      }

      span {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}
