@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fefeff;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Montserat", sans-serif;
}

.animatedButton {
  animation-duration: 10000ms;
}

.ql-container {
  border: none !important;
}

.ql-toolbar {
  border: none !important;
}
.ql-editor {
  border: none !important;
}
